/* Jumbotron */
.jumbotron {
    background-color: black;
    text-align: center;
    color: palevioletred;
}

/* Cities column */
.cities {
    float: left;
    background-color: palevioletred;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;

}

/* City history section */
.city-history {
    margin-bottom: 20px;
}

/* City buttons */
.list-group-item {
    background-color: lightpink;
}

/* Current city data */
.city-current {
    border: solid 2px black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

/* Five day data card */
.card {
    background-color: lightpink;
    color: black;
    font-size: smaller;
}

/* Class - name and date */
.inline {
    float: left;
}

/* Current data icon */
.current-icon { 
    float: right;
    background-color: lightpink;
    border:  5px solid lightpink;
    border-radius: 5px;
    display: none;
}

/* Current data */
.data {
    clear: both;
}

/* temperature icon for 5-day data */
.temp-icon {
    padding: 8px;
}

/* Search button */
.submit {
    background-color: white;
    color: palevioletred;
}

/* Elements in data class */
.d {
    font-size: larger;
    color: palevioletred;
}